.appContainer {
  @apply min-h-screen 
}
/* 
.video {   
  object-fit: cover;   
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1; 
} */

.video {
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
